<!-- Шапка документа -->
<div style="font-size: 12pt; text-align: center; line-height: 1.2; white-space: nowrap; width: 100%;">
    МИНИСТЕРСТВО НАУКИ И ВЫСШЕГО ОБРАЗОВАНИЯ РОССИЙСКОЙ ФЕДЕРАЦИИ
</div>

<div style="font-size: 12pt; text-align: center; font-weight: normal; line-height: 1; margin-bottom: 16pt;">
    Федеральное государственное бюджетное образовательное учреждение<br>
    высшего образования<br>
    <strong style="font-size: 14pt; font-weight: bold; text-transform: uppercase;">«{{ university.name }}»</strong><br>
    <strong style="font-size: 14pt; font-weight: bold;">({{ university.abbr }})</strong>
</div>

<div style="font-size: 14pt; text-align: center; font-weight: bold; line-height: 1;">
    {{ university.faculty }}
</div>

<div style="font-size: 14pt; text-align: center; font-weight: bold; margin-bottom: 70pt; line-height: 1">
    {{ university.department }}
</div>

<!-- Название работы -->
<div style="font-size: 14pt; font-weight: bold; text-align: center; line-height: 1.2; margin: 25pt 0 0pt; text-transform: uppercase;">
    ЛАБОРАТОРНАЯ РАБОТА №{{ lab.number }}
</div>

<div style="font-size: 14pt; text-align: center; margin: 2pt 0; font-weight: bold; line-height: 1.2;">
    Дисциплина: {{ lab.discipline }}
</div>

<div style="font-size: 14pt; margin: 2pt 0 90pt; line-height: 1.15; font-weight: bold; text-align: center">
    Тема: «{{ lab.theme }}» 
</div>